@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Jaldi&family=Nanum+Pen+Script&display=swap');

html {
    background-color: whitesmoke;
}

body {
    font-family: 'Jaldi', sans-serif;
    color: black;
    background-color: inherit;
}

.title-bit {
    font-family: 'Nanum Pen Script', cursive;
}

.lead {
    font-size: 1.4rem;
}