name: CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Node
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: node --version && npm --version    
    - run: npm ci
    - run: npm test